button[data-testid='quiz-button-cta']:hover {
  background-color: var(--color-text-highlight) !important;
  filter: brightness(1.2);
}

footer a[href^='/smart-practice'] {
  color: var(--color-text-dark) !important;
}

footer a[href^='/smart-practice']:hover {
  background-color: var(--color-text-highlight);
  filter: brightness(1.2);
}

div:has(+ div > div > button[data-testid='quiz-button-cta']) span {
  color: var(--color-text-light) !important;
}

div[class*="answerFeedback"][data-testid*="feedback"] {
  background-color: transparent !important;
}

/* Div containing a pattern on quiz complete page is overlapping the "continue" button */

div[class*="FlexBox"]:has(pattern[id^="DotLoose"]) {
  z-index: 0;
}